/* Version beta 1 */
.row, .row > .col{
    display: flex;
    flex: auto;
}

/* Color v1.0 */
:root{
    --color-red-primary : red;
    --color-red-secondary : rgb(255, 126, 126);
    --color-green : green;
    --color-blue : blue;
    --color-yellow-primary : rgb(250, 250, 98);
    --color-yellow-secondary : rgb(160, 160, 0);
    --color-black :#000;
}
.red , .danger{
    background-color: var(--color-red-primary);
    color: var(--color-red-secondary)
}
.yellow , .warning{
    background-color: var(--color-yellow-primary);
    color: var(--color-yellow-secondary)
}

/* Basic Style v1.0 */
select, input[type="radio"], input[type="checkbox"]{
    cursor: pointer;
}